<header class="header" id="inicio">
  <img src="../assets/hamburguesa.svg" alt="" class="hamburguer" (click)="changeStyle(1)">
  <nav class="menu-navegacion {{hamburguer}}">
    <a href="#inicio">Inicio</a>
    <a href="#servicio">Servicio</a>
    <a href="#portafolio">Portafolio</a>
    <a href="#expertos">Expertos</a>
    <a href="#contacto">Contacto</a>
  </nav>
  <div class="contenedor head" (click)="changeStyle(2)">
    <h1 class="titulo">Cuidamos tus finanzas y ahorros</h1>
    <p class="copy">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
  </div>
</header>
<main (click)="changeStyle(2)">
  <section class="services contenedor" id="servicio">
    <h2 class="subtitulo">Nuestro servicio</h2>
    <div class="contenedor-servicio">
      <img src="../assets/Transaction.svg" alt="">
      <div class="checklist-servicio">
        <div class="service">
          <h3 class="n-service"><span class="number">1</span>Diseño web</h3>
          <p>Consequur, leyendaaaaaadajslhjañdghñert</p>
        </div>
        <div class="service">
          <h3 class="n-service"><span class="number">2</span>Diseño web</h3>
          <p>Consequur, leyendaaaaaadajslhjañdghñert</p>
        </div>
        <div class="service">
          <h3 class="n-service"><span class="number">3</span>Diseño web</h3>
          <p>Consequur, leyendaaaaaadajslhjañdghñert</p>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery" id="portafolio">
    <div class="contenedor">
      <h2 class="subtitulo">Galeria</h2>
      <div class="contenedor-galeria">
        <img src="../assets/uno.jpg" alt="" class="img-galeria" (click)="changeImageLight('uno.jpg')">
        <img src="../assets/dos.jpg" alt="" class="img-galeria" (click)="changeImageLight('dos.jpg')">
        <img src="../assets/tres.jpg" alt="" class="img-galeria" (click)="changeImageLight('tres.jpg')">
        <img src="../assets/cuatro.jpg" alt="" class="img-galeria" (click)="changeImageLight('cuatro.jpg')">
        <img src="../assets/cinco.jpg" alt="" class="img-galeria" (click)="changeImageLight('cinco.jpg')">
        <img src="../assets/seis.jpg" alt="" class="img-galeria" (click)="changeImageLight('seis.jpg')">
      </div>
    </div>
  </section>
  <section class="imagen-light {{imageLigthStyle}}">
    <img src="../assets/close.svg" alt="" class="close" (click)="changeImageLight(imageLigth)">
    <img src="{{imageLigth}}" alt="" class="agregar-imagen {{showImageStyle}}">
  </section>
  <section class="contenedor" id="expertos">
    <h2 class="subtitulos">Expertos en:</h2>
    <section class="experts">
      <div class="cont-expert">
        <img src="../assets/Pie chart.svg" alt="">
        <h3 class="n-expert">Analitics</h3>
      </div>
      <div class="cont-expert">
        <img src="../assets/Search Engine.svg" alt="">
        <h3 class="n-expert">Analitics</h3>
      </div>
      <div class="cont-expert">
        <img src="../assets/Security.svg" alt="">
        <h3 class="n-expert">Analitics</h3>
      </div>
    </section>
  </section>
</main>
<footer id="contacto">
  <div class="contenedor footer-content">
    <div class="contact-us">
      <h2 class="brand">PayBok</h2>
      <p>Somos expertos en grationar finanzas</p>
    </div>
    <div class="social-media">
      <a href="./" class="social-media-icon">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="./" class="social-media-icon">
        <i class="bx bxl-twitter"></i>
      </a>
      <a href="./" class="social-media-icon">
        <i class="bx bxl-instagram"></i>
      </a>
    </div>
  </div>
  <div class="line"></div>
</footer>